/* .container{
    padding: 20px;
} */

.recipe {
    text-align: left;
    text-decoration: none;
}

.recipe h5{
    color: black;
    transition: ease-in 0.2s;
    font-weight: 600;
}

.recipe:hover img{
    transform: scale(1.1);
}

.rounded-recipe{
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.rounded-recipe h5{
    margin-top: 1rem;
    color: black;
}
.recipe-label{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.rounded-recipe:hover h5 {
    color: rgb(255,100,47);
}

.rounded-recipe-image{
    overflow: hidden;
    border-radius: 50%;
}

.rounded-recipe-image:hover img{
    transform: scale(1.1);
}
.rounded-recipe .rounded-recipe-image img{
    max-width: 175px;
    max-height:175px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
    border-radius: 50%;
    
}
.recipe .recipe-image img {
    width: 100%;
    height:auto;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    aspect-ratio: 4 / 3;
    transition: 0.5s ease-in-out;
    
}

.recipe-image-loading{
    aspect-ratio: 4 / 3;
    width: 100%;
}

.recipe-image{
    overflow: hidden;
    border-radius: 10px;
}

.recipe-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 30px;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
}

.recipe:hover h5{
    color: rgb(255,100,47);
}

.Popular-categories{
    margin-bottom: 2.5rem;
}


.Delice {
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 74px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .Delice {
        font-size: 50px;
        line-height: 54px;
    }
}

@media screen and (max-width: 480px) {
    .Delice {
        font-size: 30px;
        line-height: 34px;
    }
}



.join-input {
    border: none;
    width: 100%;
    max-width: 450px; /* Set the maximum width of the input field */
    padding: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Join-us input:focus{
    outline: none;
}
.Enjoy {
    font-size: calc(7px + 2vw);
    text-align: center;
}

.joining{
    text-align: center;
    font-size: small;
    margin-top: 1rem;
}
.joining u{
    text-decoration-color: rgb(255,100,47);
    text-underline-offset: 3px;
}
.join-btn{
    border: none;
    background-color: rgb(255,100,47);
    color: white;
    padding: 20px 40px 20px 40px;
    font-weight: 600;
    transition: opacity ease 0.5s;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.join-btn:hover{
    opacity: 0.8;
}