nav{
   /* max-width: 1064px; */
   margin-inline: auto;
   margin-top: 1rem;
   
}

.navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand{
    text-decoration: none;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    font-size: 1.5rem;
}

.navbar-container-middle ul{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar-container-middle ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: poppins;
    font-size: large;
    font-weight:400;
}
.navbar-container-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.login-btn{
    border: 1px solid black;
    padding: 5px 20px;
    color: black;
    background-color: white;
    border-radius: 10%;
    transition: ease-in-out 0.5s;
}
.login-btn:hover{
    background-color: black;
    color: white;
}
.burger{
    display: none;
}
.sidebar{
    max-height: 0;
    overflow: hidden;
    transition: max-height ease-in;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.sidebar a{
    text-decoration: none;
    color: black;
    font-size: large;
}
.sidebar a:hover{
    color: rgb(255,100,47);
}

.sidebar.open{
    max-height: 1000px;
    transition: max-height ease-in 1.5s;
}
.navbar-container-middle ul li a{
    color: black;
    transition: color ease-in 0.35s;
}
.navbar-container-middle ul li a:hover{
    color: rgb(255,100,47);
}

@media screen and (max-width: 768px) {
    .burger{
        display: block;
    }
    .navbar-container-middle{
        display: none;
    }
    nav{
        padding: 0.5rem 10px 1rem 0.5rem;
    }
}